<h3><%= @article.title %></h3>
<p>
  <%= link_to "All articles", articles_path %> -
  <%= link_to "Edit article", edit_article_path(@article) %>
</p>
<p>
  <%= Kramdown::Document.new(@article.content).to_html.html_safe %>
</p>

